body,
html {
  height: 100%;
  background-color: whitesmoke;
}
.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.heading-container {
  width: 100%;
  border-bottom: solid 1px black;
  background-image: radial-gradient(white, grey);
  padding: 25px;
}
#content{
  background-color: white;
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
}
.hidden {
  display: none;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.heading {
  font-family: 'Times New Roman', Times, serif;
}
.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
}
.form-input {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 5px;
}
.form-input:focus {
  color: black;
  background-color: rgb(216, 216, 216);
}

.add-transaction-button {
  border-radius: 5px;
}
.add-transaction-button:hover {
  cursor: pointer;
  background-color: rgb(176, 176, 176);
}

.searchbar-container {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
.searchbar {
  border-radius: 5px;
}
.transactions-table {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 25px;
  border-collapse: collapse;
  width: 75%;
  border: 3px solid #ddd;
}
.transactions-table-heading {
  border: 2px solid #ddd;
  padding: 8px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
}
.transactions-table-heading-row {
  background-color: rgb(197, 197, 197);
}
.transactions-table-body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.transaction-row {
  border-bottom: 1px solid #ddd;
}
.transaction-row:nth-child(even) {
  background-color: #ddd;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
